<h1>Welcome to Flatiron Twitter API,<br />
  please select the content you wish to edit from the menu above.</h1>
<h2>About</h2>
<p>This App currently provides an JSON feed end point for recent flatiron tweets, as well as guest speaker list to feed flatironschool.com static website.</p>
<h2>Use</h2>
<pre>
  /speakers to view & edit content.

  /speakers/new to add new speakers.

  /speakers.json will reveal JSON feed for AJAX get requests.

  /tweets.json will reveal JSON feed for AJAX get requests.
</pre>
<h2>Contact</h2>
<p>email: jon@flatironschool.com for login and password.</p>